.header {
    padding: 10px 0px;
    width: 100%;
    background-color: #181A20;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    position: fixed;
}

.headerLeft {
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.headerLeft a {
    color: aliceblue;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    text-wrap: nowrap;
}

.headerRight {
    display: flex;
    padding-right: 80px;
    color: aliceblue;
    gap: 15px;
    align-items: center;

}

.headerButtonLogin {
    background-color: #50555a;
    color: white;
    border: 2px solid #555555;
    padding: 7px 12px;
    border-radius: 7px;
    cursor: pointer;
}

.headerButtonLogin:hover {
    color: white;
    background-color: #464a4e;
}

.headerButtonSignin {
    background-color: rgb(255, 210, 64);
    color: black;
    padding: 8px 12px;
    // width: 90px;
    // height: 40px;
    text-align: center;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.footer {
    width: 1200px;
    margin: 0 auto;
    color: #EAECEF;
    font-size: 14px;
}

.footerColumn {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #7d8591;
    padding-bottom: 40px;
}

.footerFirstColumn {
    display: flex;
    flex-direction: column;
}

.footerFirstColumn b {
    padding: 20px 0px;
    font-size: 16px;
}

.footerSecondColumn {
    display: flex;
    flex-direction: column;
}

.footerSecondColumn b {
    padding: 20px 0px;
    font-size: 16px;
}

.footerThirdColumn {
    display: flex;
    flex-direction: column;
}

.footerThirdColumn b {
    padding: 20px 0px;
    font-size: 16px;

}

.footerFourthColumn {
    display: flex;
    flex-direction: column;
}

.footerFourthColumnBusiness {
    display: flex;
    flex-direction: column;
}

.footerFourthColumnBusiness b {
    padding: 20px 0px;
    font-size: 16px;

}

.footerFourthColumnLearn {
    display: flex;
    flex-direction: column;
}

.footerFourthColumnLearn b {
    padding: 20px 0px;
    font-size: 16px;

}

.footerFifthColumn {
    display: flex;
    flex-direction: column;
}

.footerFifthColumnService {
    display: flex;
    flex-direction: column;
}

.footerFifthColumnService b {
    padding: 20px 0px;
    font-size: 16px;

}

.footerFifthColumnSupport {
    display: flex;
    flex-direction: column;
}

.footerFifthColumnSupport b {
    padding: 20px 0px;
    font-size: 16px;

}

.footerIcon {
    display: flex;
    flex-direction: column;
}

.footerIconTop{
    display: flex;
}
.footerIconBottom{
    display: flex;

}
.footer a {
    text-decoration: none;
    padding: 5px 0px;
    color: #EAECEF;
}

.footer p {
    width: 200px;
    margin: 0px auto;
    font-size: 14px;
    color: #B7BDC6;
}