.header {
    padding: 10px 0px;
    width: 100%;
    background-color: #181A20;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    position: fixed;
}

.headerLeft {
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.headerLeft a {
    color: aliceblue;
    padding: 10px;
    font-size: 14px;
    display:flex ;
    align-items: center;
    text-decoration: none;
    text-wrap: nowrap;
}

.headerLeft :hover {
    color: rgb(221, 178, 35);
}

.headerRight div :hover {
    color: rgb(221, 178, 35);
}

.headerRight {
    display: flex;
    padding-right: 80px;
    color: aliceblue;
    gap: 15px;
    align-items: center;

}

.headerButtonLogin {
    background-color: #50555a;
    color: white;
    border: 2px solid #555555;
    padding: 7px 12px;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
}

.headerButtonLogin:hover {
    color: white;
    background-color: #464a4e;
}

.headerButtonSignin {
    background-color: rgb(255, 210, 64);
    color: black;
    padding: 8px 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.headerButtonSignin:hover {
    background-color: #c5a90b;
}

.footer {
    width: 1200px;
    margin: 0 auto;
    color: #EAECEF;
    font-size: 14px;
}

.footerColumn {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #7d8591;
    padding-bottom: 40px;
}
.footerColumn b{
    font-size: 16px;
}
.footerItemColumn {
    display: flex;
    flex-direction: column;
}

.footerItemColumn b {
    padding: 20px 0px;
    font-size: 16px;

}

.footerItemColumnTitle {
    display: flex;
    flex-direction: column;
}

.footerIcon {
    display: grid;
    grid-template-columns: repeat(4, 24px);
    grid-gap: 24px;
    padding-top: 20px;
}
.footerIcon a :hover{
    color: #696868 !important;
}

.footerColumnBottom {
    padding-top: 20px;

}
.footerColumnBottom div {
    padding-bottom: 20px;
}
.footerColumnBottom :hover {
    color: rgb(221, 178, 35);

}

.footer a {
    text-decoration: none;
    padding: 5px 0px;
    color: #EAECEF;
}

.footer p {
    width: 200px;   
    margin: 0px auto;
    font-size: 14px;
    color: #B7BDC6;
}

.footerItemColumn a:hover {

    color: rgb(221, 178, 35);

}